<div class="jumbotron">
<h1>Reitealo!</h1>
<p>Bienvenidos al sitio donde puedes opinar sobre productos y servicios en Panama</p>
<p><%= link_to "Registrate aqui", new_user_registration_path, class:"btn btn-primary btn-lg" %></p>
</div>
