<tr>
  <td><%= reiteo.description %></td>
  <td><%= link_to 'Show', reiteo %></td>
  <td><%= link_to 'Edit', edit_reiteo_path(reiteo) %></td>
  <td><%= link_to 'Destroy', reiteo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
